@import url("https://fonts.googleapis.com/css2?family=Underdog&display=swap");

#header{
    background-color: rgb(0, 0, 0);
    height: 65px;
    border-bottom: 2px solid silver;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
}

.nav-item a{
    color: white;
    background-color: black;
    font-family: "Underdog";
    font-weight: 600;
    font-size: 13px;
    margin-left: 8px;
}

.navbar-brand{
    color: white;
    background-color: black;
    font-family: "Underdog";
    font-weight: 600;
    font-size: 25px;
    margin-left: 10px;
    text-align: center;
}

#logo{
    transform: translate(15px, 0);
}

#main{
    color: white;
    background-color: black;
    font-family: "Underdog";
    font-weight: 600;
    font-size: 25px;
    margin-left: 10px;
    text-align: center;
    text-decoration: none;
}

@media(max-width: 400px){
    #main{
        font-size: 18px;
    }
    #logo{
        width: 35px;
        height: 35px;
    }
}

.nav-item a:hover{
    color:black;
    background-color: white;
    transition: 0.3s;
}

.navbar-toggler-icon{
    background-color: rgb(224, 224, 224);
}

body{
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
}

body{
    background-color: #6a6a6a;
}

section {
    padding-top: 50px;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    flex-wrap: wrap;
    overflow: hidden;
}

.content h4{
    color: #f3f3f3;
}

section .signin {
    position: absolute;
    width: 600px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.86);
    border-radius: 3px;
}

section .signin .content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

section .signin .content .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

section .signin .content .form .inputBox input {
    position: relative;
    width: 100%;
    background: #333;
    border: none;
    outline: none;
    padding: 25px 10px 7.5px;
    border-radius: 4px;
    color: #fff;
    font-weight: 500;
    font-size: 1em;
}

section .signin .content .form .inputBox i {
    position: absolute;
    left: 0;
    padding: 15px 10px;
    font-style: normal;
    color: #f3f3f3;
    transition: 0.3s;
    pointer-events: none;
}

.signin .content .form .inputBox input:focus ~ i,
.signin .content .form .inputBox input:valid ~ i {
    transform: translateY(-7.5px);
    font-size: 0.8em;
    color: #fff;
    transition: 0.3s;
}

.btn{
    background-color: rgb(255, 255, 255);
    width: 50%;
    cursor: pointer;
}

.btn:hover{
    background-color: rgba(234, 234, 234, 0.758);
}

.btn:hover:active{
    background-color: rgba(0, 255, 42, 0.867);
}

@media (max-width: 768px) {
    section .signin {
        width: 85%;
    }

}

@media (max-width: 480px) {
    section .signin {
        width: 93%;
    }

    .btn {
        width: 70%;
    }
}

@media (max-width: 320px) { /* Добавляем медиа-запрос для очень маленьких экранов */
    #header {
        height: 55px; /* Уменьшаем высоту заголовка */
    }

    .nav-item a, .navbar-brand {
        font-size: 12px; /* Уменьшаем размер шрифта */
    }

    #main {
        font-size: 22px; /* Уменьшаем размер текста */
    }

    #logo {
        width: 30px;
        height: 30px; /* Уменьшаем размер логотипа */
    }
}
